<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Config 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="boardMapper">

	<!-- 검색 -->
	<select id="getArticleCount" parameterType="hashmap" resultType="int">
	 	select nvl(count(*),0)  from notice 
	  <if test="category!=null and category !='' ">
	  where ${category}  like '%${sentence}%'
			</if>
	</select>
   
    <!-- 검색한거 보여주기 -->
    <select id="getArticles" parameterType="hashmap" resultType="Notice">
      <if test="category==null or category == ''">   
		   SELECT notice_no AS noticeNo, notice_title AS noticeTitle, notice_content AS noticeContent, notice_image AS noticeFilename, notice_count AS noticeCount, notice_date AS noticeDate 
		   		FROM  ( select rownum rnum ,a.* 
		    	FROM (select * from notice
		    	ORDER BY ROWNUM DESC)
		   			a ) 
		   		WHERE rnum between #{start} and #{end}
   		</if>
    	<if test="category!=null and category !='' "> 
    	SELECT notice_no AS noticeNo, notice_title AS noticeTitle, notice_content AS noticeContent, notice_image AS noticeFilename, notice_count AS noticeCount, notice_date AS noticeDate 
		   		FROM  ( select rownum rnum ,a.* 
		    	FROM (select * from notice
		    	WHERE ${category}  like '%${sentence}%'
		    	ORDER BY ROWNUM DESC)
		   			a ) 
		   		WHERE rnum between #{start} and #{end}
   		</if>
    </select>
   
   <!-- 조회수 -->
   <update id="addReadCount" parameterType="hashmap"  >
     update notice set notice_count=notice_count+1 
         where notice_No = #{noticeNo} 
   </update>
   
   <!-- content 보기 -->
   <select id="getArticle" parameterType="hashmap"  resultType="Notice">
	   select notice_no AS noticeNo, notice_title AS noticeTitle, 
	   		notice_content AS noticeContent, notice_image AS noticeFilename, 
	   		notice_count AS noticeCount, notice_Date AS noticeDate 
	   FROM notice where notice_no = #{noticeNo} 
   </select>
   
   <select id="eventList" resultType="Event">
		select event_no AS eventNo, event_title AS eventTitle, event_image 
			AS eventImage, event_content AS eventContent, event_startdate AS 
			eventStartdate, event_enddate AS eventEnddate 
		FROM event order by event_no	
	</select>

   <!-- 상세 -->
   <select id="eventDetail" parameterType="hashmap" resultType="Event">
      select event_no AS eventNO, event_title AS eventTitle, event_content AS eventContent, event_image AS eventImage, event_startdate AS eventStartdate, event_enddate AS eventEnddate, coupon_no AS couponNo
       from event
       where EVENT_NO=#{eventNo}
   </select>
   
   
   <select id="checkUserCoupon" parameterType="hashmap" resultType="int">
   		SELECT count(*) FROM ucoupon WHERE id = #{id} AND coupon_no = #{couponNo}
   </select>
   
   <insert id="giveCoupon" parameterType="hashmap">
   		INSERT INTO ucoupon VALUES (ucouponseq.nextval, #{id}, 0, #{couponNo})
   </insert>
   
   <!-- ADMIN -->
   <select id="getNoticeInfo" resultType="Notice">
		SELECT notice_no AS noticeNo, notice_title AS noticeTitle, notice_content AS noticeContent, notice_date AS noticeDate, notice_count AS noticeCount 
		FROM (
			SELECT ROWNUM RN, A.* 
				FROM (
						SELECT * 
						FROM notice 
						ORDER BY notice_no DESC) A
				)
		WHERE RN BETWEEN #{start} AND #{end}
	</select>
	
	<insert id="noticeWrite" parameterType="Notice">
		<if test="noticeFilename != null">
			INSERT INTO notice VALUES (noticeSeq.nextval, #{noticeTitle}, #{noticeContent}, #{noticeFilename}, sysdate, 0)
		</if>
		<if test="noticeFilename == null">
			INSERT INTO notice(notice_no, notice_title, notice_content, notice_date, notice_count) 
			VALUES (noticeSeq.nextval, #{noticeTitle}, #{noticeContent}, sysdate, 0)
		</if>
	</insert>
	<update id="noticeModify" parameterType="Notice">
		UPDATE notice SET notice_title = #{noticeTitle}, notice_content = #{noticeContent}
		<if test="noticeFilename != null">
			, notice_image = #{noticeFilename}
		</if>
			WHERE notice_no = #{noticeNo}
	</update>
	<delete id="noticeDelete" parameterType="int">
		DELETE FROM notice WHERE notice_no = #{noticeNo}
	</delete>
	
	<select id="countEvent" resultType="int">
		SELECT nvl(count(*),0) FROM event
	</select>

	<select id="getEventInfo" resultType="Event">
		SELECT event_no AS eventNo, event_title AS eventTitle, event_content AS eventContent, event_startdate AS eventStartdate, event_enddate AS eventEnddate 
		FROM (
			SELECT ROWNUM RN, A.* 
				FROM (
						SELECT * 
						FROM event 
						ORDER BY event_no DESC) A
				)
		WHERE RN BETWEEN #{start} AND #{end}
	</select>
	
	<insert id="eventWrite" parameterType="Event">
		<if test="eventImage != null">
			INSERT INTO event VALUES (eventSeq.nextval, #{eventTitle}, #{eventContent}, #{eventImage}, #{eventStartdate}, #{eventEnddate}, #{couponNo})
		</if>
		<if test="eventImage == null">
			INSERT INTO event(event_no, event_title, event_content, event_startdate, event_enddate, coupon_no) VALUES (eventSeq.nextval, #{eventTitle}, #{eventContent}, #{eventStartdate}, #{eventEnddate}, #{couponNo})
		</if>
	</insert>
	
	<select id="getEvent" parameterType="int" resultType="Event">
		SELECT event_no AS eventNo, event_title AS eventTitle, event_content AS eventContent, event_image AS eventImage, event_startdate AS eventStartdate, event_enddate AS eventEnddate 
			FROM event WHERE event_no = #{eventNo}
	</select>
	
	<update id="eventModify" parameterType="Event">
		UPDATE event SET event_title = #{eventTitle}, event_content = #{eventContent}, event_startdate = #{eventStartdate}, event_enddate = #{eventEnddate}
		<if test="eventImage != null">
			, event_image = #{eventImage}
		</if>
			WHERE event_no = #{eventNo}
	</update>
	
	<delete id="eventDelete" parameterType="int">
		DELETE FROM event WHERE event_no = #{eventNo}
	</delete>
	
	
	<select id="getCouponNo" resultType="int">
		SELECT coupon_no FROM coupon WHERE coupon_discount != -1
	</select>
	
	<select id="getCouponList" resultType="Coupon">
		SELECT coupon_no AS couponNo, coupon_title AS couponTitle, coupon_discount AS couponDiscount, coupon_sdate AS couponSdate, coupon_edate AS couponEdate
			FROM coupon
	</select>
	
	<select id="getCoupon" resultType="Coupon">
		 SELECT coupon_no AS couponNo, coupon_title AS couponTitle, coupon_discount AS couponDiscount, coupon_sdate AS couponSdate, coupon_edate AS couponEdate
			FROM coupon
			WHERE coupon_no = #{couponNo}
	</select>
	
	<insert id="insertCoupon">
		INSERT INTO coupon VALUES (couponseq.nextval, #{couponTitle}, #{couponDiscount}, #{couponSdate}, #{couponEdate})
	</insert>
	
	<update id="modifyCoupon">
		UPDATE coupon SET coupon_title = #{couponTitle}, coupon_discount=#{couponDiscount}, coupon_sdate=#{couponSdate}, coupon_edate=#{couponEdate} WHERE coupon_no=#{couponNo} 
	</update>
	
	<update id="deleteCoupon">
		UPDATE coupon SET coupon_title='', coupon_discount=-1, coupon_sdate='', coupon_edate='' WHERE coupon_no=#{couponNo}
	</update>

</mapper>