<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Config 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="eventMapper">


	<select id="allEvent" resultType="Event">
		select event_no AS eventNo, event_title AS eventTitle, event_image 
			AS eventImage, event_content AS eventContent, event_startdate AS 
			eventStartdate, event_enddate AS eventEnddate 
		FROM event order by event_no	
	</select>

   <!-- 상세 -->
   <select id="eventDetail" parameterType="hashmap" resultType="Event">
      select event_no AS eventNO, event_title AS eventTitle, event_image AS eventImage, event_startdate AS eventStartdate, event_enddate AS eventEnddate
       from event
       where EVENT_NO=#{eventNo}
   </select>



	<!-- ADMIN -->
	<select id="countEvent" resultType="int">
		SELECT nvl(count(*),0) FROM event
	</select>

	<select id="getFullInfo" resultType="Event">
		SELECT event_no AS eventNo, event_title AS eventTitle, event_content AS eventContent, event_startdate AS eventStartdate, event_enddate AS eventEnddate 
		FROM (
			SELECT ROWNUM RN, A.* 
				FROM (
						SELECT * 
						FROM event 
						ORDER BY event_no DESC) A
				)
		WHERE RN BETWEEN #{start} AND #{end}
	</select>
	
	<insert id="write" parameterType="Event">
		<if test="eventImage != null">
			INSERT INTO event VALUES (eventSeq.nextval, #{eventTitle}, #{eventContent}, #{eventImage}, #{eventStartdate}, #{eventEnddate})
		</if>
		<if test="eventImage == null">
			INSERT INTO event(event_no, event_title, event_content, event_startdate, event_enddate) VALUES (eventSeq.nextval, #{eventTitle}, #{eventContent}, #{eventStartdate}, #{eventEnddate})
		</if>
	</insert>
	
	<select id="getEvent" parameterType="int" resultType="Event">
		SELECT event_no AS eventNo, event_title AS eventTitle, event_content AS eventContent, event_image AS eventImage, event_startdate AS eventStartdate, event_enddate AS eventEnddate 
			FROM event WHERE event_no = #{eventNo}
	</select>
	
	<update id="modify" parameterType="Event">
		UPDATE event SET event_title = #{eventTitle}, event_content = #{eventContent}, event_startdate = #{eventStartdate}, event_enddate = #{eventEnddate}
		<if test="eventImage != null">
			, event_image = #{eventImage}
		</if>
			WHERE event_no = #{eventNo}
	</update>
	
	<delete id="delete" parameterType="int">
		DELETE FROM event WHERE event_no = #{eventNo}
	</delete>

</mapper>