<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Config 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="memberMapper">
	<select id="getTime" resultType="String">
		SELECT sysdate FROM dual
	</select>
	
	<insert id="signup" parameterType="Member">
		INSERT INTO member(id, pwd, name, email, tel, birthday, gender, zipcode, address, point, email_auth_check, author, reg_date) 
			VALUES (#{id}, #{pwd}, #{name}, #{email}, #{tel}, #{birthday}, #{gender}, #{zipcode}, #{address}, 0, 0, 0, sysdate)
	</insert>
	
	<select id="login" parameterType="Hashmap" resultType="Member">
		SELECT id, pwd, author, email_auth_check AS emailAuthCheck FROM member WHERE id = #{id}
	</select>
	
	<update id="insertAuthKey" parameterType="Hashmap">
		UPDATE member SET email_auth_key=#{authKey} WHERE id = #{id}
	</update>
	
	<select id="checkAuthKey" parameterType="Hashmap" resultType="String">
		SELECT email_auth_key FROM member WHERE id = #{id}
	</select>
	
	<update id="changeAuthCheck" parameterType="String">
		UPDATE member SET email_auth_check = 1 WHERE id = #{id}
	</update>
	
	<select id="getInfo" parameterType="String" resultType="Member">
		SELECT name, email, tel, gender, zipcode, address FROM member WHERE id = #{id}
	</select>
	
	<select id="getPwd" parameterType="String" resultType="String">
		SELECT pwd FROM member WHERE id = #{id}
	</select>
	
	<!-- 회원수정 -->
	<update id="modify" parameterType="Member">
		UPDATE member SET name=#{name}, email=#{email}, tel=#{tel}, gender=#{gender}, address=#{address} WHERE id=#{id}
	</update>
	<!-- 회원탈퇴 -->
	<update id="delete" parameterType="String">
		UPDATE member SET pwd=null, name=null, email=null, tel=null, birthday=null, gender=null, zipcode=null, address=null, point=-1, email_auth_key=null, email_auth_check=-1, wdr_date=sysdate WHERE id=#{id} 
	</update>
	
	<!-- 아이디찾기 -->
	<select id="getId" parameterType="Member" resultType="String">
		SELECT id FROM member WHERE name = #{name}
			 <if test="email1 != null">
			 	AND email = #{email1}
			 </if>
			 <if test="tel2 != null">
			 	AND tel = #{tel2}
			 </if>
	</select>
	<!-- 비밀번호변경(비밀번호 찾기시) -->
	<select id="getEmail" parameterType="Member" resultType="String">
		SELECT email FROM member WHERE id = #{id}
	</select>
	<!-- 비밀번호변경 -->
	<update id="changePwd" parameterType="Hashmap">
		UPDATE member SET pwd = #{pwd} WHERE id = #{id}
	</update>
	
	<select id="checkId" parameterType="String" resultType="int">
		SELECT count(*) FROM member WHERE id = #{id}
	</select>
	
	<!-- ADMIN -->
	<select id="getFullInfo" resultType="Member">
		SELECT id, name, email, tel, birthday, point, reg_date AS regDate, wdr_date AS wdrDate FROM (
			SELECT ROWNUM RN, A.* 
				FROM (
						SELECT * 
						FROM member
						) A
				)
		WHERE RN BETWEEN #{start} AND #{end}
	</select>
	<select id="countMember" resultType="int">
		SELECT count(*) FROM member
	</select>
	
	<select id="getDelInfo" resultType="Member">
		SELECT id, name, email, tel, birthday, point, reg_date AS regDate, wdr_date AS wdrDate FROM (
			SELECT ROWNUM RN, A.* 
				FROM (
						SELECT * 
						FROM member
						WHERE wdr_date IS NOT NULL
						) A
				)
		WHERE RN BETWEEN #{start} AND #{end}
	</select>
	<select id="countDelMember" resultType="int">
		SELECT count(*) FROM member WHERE wdr_date IS NOT NULL
	</select>
	
</mapper>