<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Config 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
   
<mapper namespace="mypageMapper">

<!-- 주문목록 resultMap 설정  -->
<resultMap id="OrderList" type="Orders">
   <id property="id" column="id"/>
   <result property="ordersDate" column="orders_date"/>
   <result property="ordersNo" column="orders_no"/>
   <result property="ordersStatus" column="orders_status"/>
   
   <association property="ordersDetail" javaType="OrdersDetail">
   <id property="ordersNo" column="orders_no"/>
   <result property="detailQty" column="detail_qty"/>
   </association>   
   <association property="product" javaType="Product">
   <id property="productNo" column="product_no"/>
   <result property="productName" column="product_name"/>
   </association>
</resultMap>


<!-- 주문목록에서 각상품 상세보기 페이지 설정 -->
<resultMap type="Orders" id="ordersDetailList">
	<id property="ordersNo" column="orders_no"/>
	<result property="ordersTotal" column="orders_total"/>

	<association property="ordersDetail" javaType="OrdersDetail">
	<id property="ordersNo" column="orders_no"/>
	<result property="productNo" column="product_no"/>
	<result property="detailQty" column="detail_qty"/>
	</association>

	<association property="product" javaType="Product">
	<id property="productNo" column="product_no"/>
	<result property="productName" column="product_name"/>
	<result property="productImage" column="product_image"/>	
	<result property="productPrice" column="pro	duct_price"/>
	<result property="productAmount" column="product_amount"/>
	</association>
</resultMap>


<!-- 취소/반품신청가능 목록용 resultMap 설정  -->
<resultMap id="cancelRequire" type="Orders">
   <id property="id" column="id"/>
   <result property="ordersDate" column="orders_date"/>
   <result property="ordersNo" column="orders_no"/>
   <result property="ordersStatus" column="orders_status"/>
   
   <association property="ordersDetail" javaType="OrdersDetail">
   <id property="ordersNo" column="orders_no"/>
   <result property="detailQty" column="detail_qty"/>
   </association>   
   <association property="product" javaType="Product">
   <id property="productNo" column="product_no"/>
   <result property="productName" column="product_name"/>
   <result property="productPrice" column="product_price"/>
   <result property="productImage" column="product_image"/>
   <result property="productAmount" column="product_amount"/>
   </association>
</resultMap>





	<!-- 주문목록 확인하기  -->
   <select id="OrderList" parameterType="String" resultMap="OrderList">
   select 
   	o.orders_date,
    o.orders_no,
    o.orders_status,
    od.detail_qty,
    p.product_name
   FROM
    Orders o, orders_Detail od, product p
   where 
    o.orders_no = od.orders_no and
    od.product_no = p.product_no
    and o.id = #{id}
   order by
    o.orders_date desc 
   </select>
   
   
   <!-- 상세주문목록 확인하기(상품별) -->
   <select id="ordersDetailList" parameterType="int" resultMap="ordersDetailList">
   select
     p.product_no,
     p.product_name, 
     p.product_image, 
     p.product_price, 
     od.DETAIL_QTY,
     o.orders_total
   from
    product p, orders_detail od, orders o
   where
    p.product_no = od.product_no and o.orders_no = #{ordersNo} and o.orders_no = od.orders_no 
   </select>
   
   
   
   <!-- 날짜따른 주문목록 확인하기 -->
   <select id="ordersDate" parameterType="HashMap" resultMap="OrderList">
   select 
   	o.orders_date,
    o.orders_no,
    o.orders_status,
    od.detail_qty,
    p.product_name
   FROM
    Orders o, orders_Detail od, product p
   where 
    o.orders_no = od.orders_no and
    od.product_no = p.product_no and
    o.id = #{id} and
    to_char(o.orders_date, 'yyyy-mm-dd') between #{fromDate} and #{toDate}
<!-- <choose>
    	<when test="fromDate !=null and toDate != null">  
    	</when>
 <when test="fromDate !=null and toDate == null">
    	where to_char(o.orders_date, 'yyyy-mm-dd') >= #{fromDate}
    	</when>
    	<when test="fromDate ==null and toDate != null">
    	where to_char(o.orders_date, 'yyyy-mm-dd') < #{toDate}
    	</when>
    </choose> -->
   order by
    o.orders_date desc 
   </select>
   
   
   	<!-- 쿠폰목록 확인하기  -->
   <select id="coupon" parameterType="String" resultType="Coupon">
   select
    coupon_no as couponNo,
    id,
    coupon_type as couponType, 
    coupon_discount as couponDiscount,
    coupon_used as couponUsed, 
    coupon_sdate as couponSdate, 
    coupon_edate as couponEdate, 
    coupon_title as couponTitle
   FROM coupon
   where id = #{id} 
   order by coupon_edate desc 
   </select>
   
   
   	<!-- 사용가능 쿠폰 확인하기 -->
   <select id="couponCount" parameterType="String" resultType="int">
   select count(coupon_no)
   FROM coupon
   where coupon_type = 0 and id = #{id}
   </select>  
   	<!-- 사용가능 포인트 확인하기  -->
   <select id="myPoint" parameterType="String" resultType="int">
   select point FROM member where id = #{id}
   </select>
   
   
   <!-- 취소/반품가능 목록 확인하기  -->
   <select id="cancelRequire" parameterType="int" resultMap="cancelRequire">
   select 
   	o.orders_date, 
   	o.orders_no, 
   	o.orders_status, 
   	od.detail_qty, 
    p.product_name, 
    p.product_price, 
    p.product_image, 
    p.product_amount
   FROM 
   	Orders o, orders_Detail od, product p
   where 
   	o.orders_no = od.orders_no and
   	od.product_no = p.product_no and 
   	o.orders_no = #{ordersNo}
   </select>
   
   
   
   
   



	<!-- ADMIN -->
	<select id="getOrder" parameterType="int" resultMap="OrderList">
	   SELECT o.orders_date, o.orders_no, o.orders_status, od.detail_qty, p.product_name
	   		FROM Orders o, orders_Detail od, product p
	   		WHERE o.orders_no = od.orders_no and od.product_no = p.product_no and o.orders_no = #{orderNo}
	   		ORDER BY o.orders_date desc 
   	</select>
</mapper>
   