<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Config 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="productMapper">
	<!-- 상품 전체 -->
	<select id="productList" resultType="Product">
		SELECT product_no AS
		productNo, category AS category, product_name AS productName,
		product_detail AS productDetail, product_image AS productImage,
		product_price AS productPrice, product_stock AS productStock,
		product_amount AS productAmount, product_time AS productTime
		FROM product
		ORDER BY product_no 
	</select>
	
	<!-- 상품 상세 -->
	<select id="productDetail" resultType="Product">
		SELECT product_no AS
		productNo, category AS category, product_name AS productName,
		product_detail AS productDetail, product_image AS productImage,
		product_price AS productPrice, product_stock AS productStock,
		product_amount AS productAmount, product_time AS productTime
		FROM product
		WHERE product_no = #{productNo}
	</select>

	<!-- ADMIN -->
	<select id="countByCategory" parameterType="String" resultType="int">
		SELECT count(*)+1 FROM product WHERE category= #{category}
	</select>
	
	<insert id="insertProduct" parameterType="Product">
		INSERT INTO product VALUES (#{productNo}, #{category}, #{productName}, #{productDetail}, #{productImage}, #{productPrice}, #{productStock}, #{productAmount}, #{productTime})
	</insert>
	
	<select id="countProduct" resultType="int">
		SELECT count(*) FROM product
	</select>
	
	<select id="getFullInfo" resultType="Product">
		SELECT product_no AS productNo, category AS category, product_name AS productName,  product_detail AS productDetail, product_image AS productImage, 
			product_price AS productPrice, product_stock AS productStock,  product_amount AS productAmount, product_time AS productTime 
			FROM (
			SELECT ROWNUM RN, A.* 
				FROM (
						SELECT * 
						FROM product WHERE category != 0
						) A
				)
		WHERE RN BETWEEN #{start} AND #{end}
	</select>
	
	<update id="modifyStock" parameterType="Hashmap">
		UPDATE product SET product_stock = #{productStock} WHERE product_no = #{productNo}
	</update>
	
	<update id="modify" parameterType="Product">
		UPDATE product SET product_name = #{productName}, product_detail = #{productDetail}, product_price = #{productPrice}, product_amount = #{productAmount}, product_time = #{productTime}
		<if test="productImage != null">
			, product_image = #{productImage}
		</if>
			WHERE product_no = #{productNo}
	</update>
	
	<update id="delete" parameterType="int">
		UPDATE product SET category = 0, product_stock = 0 WHERE product_no = #{productNo}
	</update>
	
	<select id="getToday" resultType="Product">
		SELECT product_no AS
		productNo, category, product_name AS productName,
		product_detail AS productDetail, product_image AS productImage,
		product_price AS productPrice, product_stock AS productStock,
		product_amount AS productAmount, product_time AS productTime
		FROM product
		WHERE product_no = (SELECT product_no FROM today WHERE TO_char(todate, 'yyyy-MM-dd') = TO_char(SYSDATE, 'yyyy-MM-dd'))
	</select>
	<select id="getDate" resultType="Date">
		SELECT todate+1 FROM today WHERE TO_char(todate, 'yyyy-MM-dd') = TO_char(SYSDATE, 'yyyy-MM-dd')
	</select>
</mapper>