@charset "UTF-8";
/* Style the search box */
.sidenav {
	height: 100%; /* Full-height: remove this if you want "auto" height */
	width: 160px; /* Set the width of the sidebar */
	position: absolute; /* Fixed Sidebar (stay in place on scroll) */
	z-index: 1; /* Stay on top */
	top: auto; /* Stay at the top */
	left: 3%;
	
	overflow-x: hidden; /* Disable horizontal scroll */
}

/* The navigation menu links */
.jun{
	font-size: 23px;
	color: #68c195;
}

.jun1{
	padding-bottom:10px;
	font-weight: bolder;
	font-size: 26px;
}

.sidenav a {
	padding: 6px 8px 6px 0px;
	text-decoration: none;
	font-size: 20px;
	color: gray;
	display: block;
	margin-bottom:35px;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
	color: #68c195;
	background-color: #e6e2e7;
}

/* Style page content */
.main {
	margin-left: 160px; /* Same as the width of the sidebar */
	padding: 0px 0px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
	.sidenav {
		padding-top: 15px;
	}
	.sidenav a {
		font-size: 18px;
	}
}