<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org/DTD Config 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<properties>
		<property name="driver" value="oracle.jdbc.driver.OracleDriver"/>
		<property name="url" value="jdbc:oracle:thin:@localhost:1521:xe"/>
		<property name="username" value="devon"/>
		<property name="password" value="1111"/>
	</properties>
	<typeAliases>
		<typeAlias type="com.devon.easycook.domain.MemberDTO" alias="Member"/>
		<typeAlias type="com.devon.easycook.domain.ProductDTO" alias="Product"/>
		<typeAlias type="com.devon.easycook.domain.CartDTO" alias="Cart"/>
		<typeAlias type="com.devon.easycook.domain.OrdersDTO" alias="Orders"/>
		<typeAlias type="com.devon.easycook.domain.OrdersDetailDTO" alias="OrdersDetail"/>
		<typeAlias type="com.devon.easycook.domain.NoticeDTO" alias="Notice"/>
		<typeAlias type="com.devon.easycook.domain.CouponDTO" alias="Coupon"/>
		<typeAlias type="com.devon.easycook.domain.EventDTO" alias="Event"/>
		<typeAlias type="com.devon.easycook.domain.RefundDTO" alias="Refund"/>
		<typeAlias type="com.devon.easycook.domain.WishlistDTO" alias="Wishlist"/>
		<typeAlias type="com.devon.easycook.domain.ReviewDTO" alias="Review"/>
	</typeAliases>
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="${driver}"/>
				<property name="url" value="${url}"/>
				<property name="username" value="${username}"/>
				<property name="password" value="${password}"/>
			</dataSource>
		</environment>
	</environments>
	<mappers>
		<mapper resource="com/devon/easycook/mapper/MemberMapper.xml"/>
		<mapper resource="com/devon/easycook/mapper/ProductMapper.xml"/>
		<mapper resource="com/devon/easycook/mapper/MypageMapper.xml"/>
		<mapper resource="com/devon/easycook/mapper/OrderMapper.xml"/>
		<mapper resource="com/devon/easycook/mapper/BoardMapper.xml"/>
	</mappers>
</configuration>
